.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 33px;
}

.categorias__lista {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.destaques {
  display: flex;
  align-items: center;
  gap: 10px;
}

.destaques__barra {
  flex-grow: 1;
}

.eventos__lista,
.agenda__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.eventos__item,
.agenda__item {
  flex-grow: 1;
}

.rodape {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rodape__logo {
  align-self: flex-end;
}

@media screen and (min-width: 720px) {
  .menu {
    column-gap: 75px;
  }

  .categorias__lista {
    gap: 16px 26px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .categorias__lista li {
    min-width: 306px;
  }

  .eventos__lista,
  .agenda__lista {
    justify-content: end;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    column-gap: 104px;
    flex-wrap: nowrap;
  }

  .menu__item:nth-child(1) {
    order: 1;
  }

  
  .menu__item:nth-child(2) {
    order: 3;
  }

  
  .menu__item:nth-child(3) {
    order: 4;
  }

  
  .menu__item:nth-child(4) {
    order: 5;
  }

  
  .menu__item:nth-child(5) {
    order: 2;
  }

  .categorias {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    grid-template-areas: 
      "titulo titulo"
      "lista destaques"
      "lista imagem"
    ;
  }

  .categorias__titulo {
    grid-area: titulo;
  }

  .categorias__lista {
    grid-area: lista;
    flex-direction: column;
  }

  .categorias__destaques {
    grid-area: destaques;
  }

  .categorias__imagem {
    grid-area: imagem;
  }

  .categorias__lista li {
    min-width: 282px;
  }

}